div {
    position: relative;
    height: 300px;
}

img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.fade-in-image {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-out-image {
    animation: fadeOut 2s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}